<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>QB</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="inner-header"></div>
		</div>
			<div class="row">
				<div class="content">
					<div class="inner-content"></div>
				</div>
				<div class="sidebar">
					<div class="inner-sidebar"></div>
				</div>
			</div>

		<div class="footer">
			<div class="inner-footer">
				<div class="container">
					<div class="names-container">
						<a href="https://github.com/andormi">Анатолий Дормидонтов</a>,
						<a href="https://github.com/AllpowerfulAndrew">Андрей Иванчогло</a>,
						<a href="https://github.com/anshafs">Анастасия Шафигуллина</a>,
						<a href="https://github.com/Kostegan">Константин Чурилов</a>,<br>
						<a href="##">Иван Шаповалов</a>,
						<a href="https://github.com/AlexandrZorin">Александр Зорин</a>,
						<a href="https://github.com/browseup">Алексей Назаров</a>,
						<a href="https://github.com/saadpanda">Виктория Потемкина</a>,
						<a href="https://github.com/amitator">Игорь Прус</a>,
						<a href="https://github.com/avpgenium">Андрей Поляков</a>
					</div>
					<ul class="social-icons">
						<li>
							<a href="https://vk.com/" class="vk-icon"></a>
						</li>
						<li>
							<a href="https://github.com/khasang/qb" class="github-icon"></a>
						</li>
						<li>
							<a href="https://www.facebook.com/" class="facebook-icon"></a>
						</li>
					</ul>
					<p class="copyright">Copyright© 2016 qb.ru</p>
				</div>
			</div>
		</div>

	</div>
</body>
</html>